<div class="container__big-card">

    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnnGJFVh0fs9gvWTV_7K5erTxtur4OXft0Pw&s"
        alt=""
        width="400px"
        srcset=""
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do angular</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="#">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit eu ante a faucibus. Proin fermentum, lectus eget accumsan mollis, turpis erat interdum tortor, sed congue ligula elit in felis. Vestibulum dapibus quam nibh, non venenatis ante laoreet in. Donec pharetra venenatis fringilla. Fusce feugiat nulla eros, in vestibulum turpis ultricies porta. Praesent eleifend leo ac justo pulvinar, ut auctor ipsum commodo. Etiam sodales lacus eget enim egestas facilisis. Nulla semper consectetur eleifend.
        </a>
        </p>

    </div>
</div>
